header {
  background-color: white;
  width: 100%;
  height: $topSizezBody;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.46);
  z-index: 1;
  nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .logo {
      h1 {
        margin: 0px;
        color: $primaryColor;
        font-size: 28px;
      }
    }
    .menu {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        list-style-type: none;
        padding: 5px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 120px;
        a {
          font-size: 20px;
          text-align: center;
          color: $primaryColor;
          text-decoration: none;
          transition: 0.4s;
        }
        a:hover {
          color: $secondColor;
          border-bottom: $secondColor;
          transform: scale(1.05);
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  header {
    nav {
      .logo {
        h1 {
          font-size: 20px;
        }
      }
      .menu {
        li {
          list-style-type: none;
          padding: 5px;
          height: 40px;
          min-width: 80px;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  header {
    nav {
      .logo {
        h1 {
          font-size: 16px;
        }
      }
      .menu {
        li {
          list-style-type: none;
          padding: 5px;
          height: 40px;
          min-width: 40px;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}
